@page 
@model Al.Web.Pages.Admin.Groups.IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "گروه ها";
}

<link rel="stylesheet" href="~/css/admin/custom-select.css">
<link rel="stylesheet" href="~/css/basket.css" />
<link rel="stylesheet" href="~/css/admin/admin-groups.css" />


<div class="add-button">
    <a asp-page="AddGroup">افزودن گروه</a>
    <i class="fa-solid fa-plus"></i>
</div>
<div class="table">
    <div class="head-table">
        <div class="head-title">
            <p>گروه ها</p>
        </div>
    </div>
</div>
<div class="basket-table">
    <div class="head-column">
        <div class="number-div">
            <p>#</p>
        </div>
        <div class="name-div">
            <p>نام گروه</p>
        </div>
        <div class="delete-div">
            <p>عملیات</p>
        </div>
    </div>
    @for(var i = 1; i <= Model.Groups.Groups.Count(); i++)
    {
        <div class="normal-column @((i % 2 == 0) ? "even" : "")">
            <div class="number-div">
                <p>@i</p>
            </div>
            <div class="name-div">
                <a asp-page="../SubGroups/Index" asp-route-parentId="@Model.Groups.Groups[i-1].GroupId">@Model.Groups.Groups[i-1].GroupName</a>
            </div>
            <div class="delete-div">
                <a asp-page-handler="DeleteGroup" asp-route-groupId="@Model.Groups.Groups[i-1].GroupId">
                    <i class="fa-solid fa-trash"></i>
                </a>
                <a asp-page="EditGroup" asp-route-groupId="@Model.Groups.Groups[i-1].GroupId">
                    <i class="fa-solid fa-pen-to-square orange"></i>
                </a>
            </div>
        </div>
    }
</div>
<div class="admin-paging">
    <div class="paging-box">
        @for(var i = 1; i <= Model.Groups.TotalPage; i++)
        {
            <a asp-page="Index" asp-route-pageId="@i" class="@((i == @Model.Groups.PageId) ? "active" : "")">@i</a>
        }
    </div>
</div>